        </div>
        <!-- <footer class="page-footer font-small unique-color-dark pt-4"> -->
        <footer class="page-footer font-large unique-color-dark">
<!--           <div class="text-center">
            <p class="text-muted">entertainment &copy; 2020,all rights reserved <a href="/entertainment">Home</a> | <a href="/entertainment/new">New Campground
            </a></p>
          </div> -->
          <div class="footer-copyright text-center py-3">entertainment &copy; 2020,all rights reserved
            <a href="/entertainment">Home</a> | <a href="/entertainment/new">New Campground
            </a>
          </div>
        </footer>

        

    <!-- bootstrap and its dependencies -->

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
    <!-- mdbootstrap and its  dependencies -->

        <!-- JQuery -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
        <!-- Bootstrap tooltips -->
<!--         <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        Bootstrap core JavaScript
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script -->
        <!-- MDB core JavaScript -->
        <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script> -->

    <!-- mdbootstrap scrit end -->
    
    <!-- Aneesh pissay scripts -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
        <script src="https://use.fontawesome.com/707874cffc.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/entertainment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
        <script src="/scripts/dark-mode-switch.min.js"></script>

    <!-- Anessh pissay scripts ends -->
        
    </body> 
</html>