<%- include("../partials/header") %>
<!--   <div class="container about"> -->
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
    <h1 style="text-align:center;">create a new entertainment info </h1></div>
      
        <div class="col-4">
        <form action="/entertainment" method="POST" enctype="multipart/form-data" onsubmit="setTimeout(doBlog(this),5000)">
          <div class="form-group">
            <label for="formGroupExampleInput">entertainment info name</label>
              <input class="form-control" id="formGroupExampleInput" type="text" name="name" placeholder="name">
          </div>
          <div class="form-group">
            <label for="inputCategory">Category</label>
            <select id="inputCategory" class="form-control" name="category">
              <option selected>Movie</option>
              <option>TV show</option>
              <option>Music</option>
              <option>Sport</option>
            </select>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">entertainment price</label>
              <input class="form-control" id="formGroupExampleInput" type="number" name="price" placeholder="price" min="0.01" step="0.01">
          </div>
          <div class="form-group">
           <label for="formGroupExampleInput">entertainment image</label>
              <input class="form-control" type="file" id="formGroupExampleInput" name="files" placeholder="image url" multiple>
          </div>     
          <div class="form-group">
           <label for="formGroupExampleInput3">entertainment description</label>
              <textarea class="form-control" id="title" type="text" rows="5" name="description" placeholder="description"></textarea>
          </div>
          <input type="hidden" id="user_name1" name="user_name1" value="<%= currentUser.username %>">   
          <div class="form-group">
            <button style="margin:20px auto;" onclick="setTimeout(blog, 1000);" class="btn btn-primary btn-block">submit
            </button>
          </div> 
          <p class="d-flex justify-content-center"><a style="text-align: center;" href="/entertainment">go back</a>
          </p>
<!--           <p class="mt-3 mb-2 text-muted text-center"><a style="text-allign: center;" href="/">go back</a></p> -->
        </form> 
      </div>
    </div>
 <!--  </div> -->
<%- include("../partials/footer") %>



